header {
    position: relative;
    height: 100vh;
}

.header_container {
    font-family: var(--font-title);
    align-items: initial;
    position: relative;
}

.header__content {
    padding: 4rem 5rem;
}

.header__content h1 {
    font-size: 6rem;
    font-weight: bold;
}

.header__content p {
    font-size: 2rem;
    margin: 1.5rem 0;
}

.header__content .box {
    font-size: 1.3rem;
}

.image_container {
    position: relative;
    max-width: 100%;
}

.phone {
    max-width: 100%;
}

.gif_car{
    position: absolute;
    top: 26%;
    left: 12%;
    height: 100%; /* Ocupa todo el alto del contenedor */

}

.gif_car img {
    width: 85%; /* Ajusta el ancho del GIF al 100% del contenedor */
    height: auto; /* Mantiene la proporción original */
}

@media screen and (max-width: 980px) {
    .header__content h1 {
        font-size: 4rem;
    }

    .header__content p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 780px) {
    .header_container {
        flex-direction: column;
    }
    .header__content {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .header__content h1 {
        font-size: 2.5rem;
    }
    .header__content p {
        font-size: 1rem;
    }
}