nav {
    font-family: var(--font-title);
}

.nav_container {
    justify-content: space-between;
    padding: 3rem 5rem;
}

.logo img {
    width: 300px;
}

.logo {
    width: max-content;
}

.nav__content ul {
    gap: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

li {
  position: relative;
}

li a {
  color: #fff;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--bg-blue);
  transition: width 0.3s ease;
  transform: translateY(-50%);
}

li:hover::before {
  width: 100%;
  right: 0; /* Añadir este ajuste para limitar el ancho */
}






