nav {
    font-family: var(--font-title);
}

.nav_container {
    justify-content: space-between;
    padding: 3rem 5rem;
}

.logo img {
    width: 300px;
}

.logo {
    width: max-content;
}

.nav__content ul {
    gap: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

li {
  position: relative;
}

li a {
  color: #fff;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--bg-blue);
  transition: width 0.3s ease;
  transform: translateY(-50%);
}

li:hover::before {
  width: 100%;
  right: 0; /* Añadir este ajuste para limitar el ancho */
}

.nav__content-toggle {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.nav__content-active ul {
    gap: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {

  .nav__content { /* el navbar se oculta */
    position: fixed;
    top: -200%;
    left: 0;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100vh;
    background-color: #fff;
    opacity: .6;
    color: #000;
    transition: 2.5s;
  }

  .nav__content-active {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    width: 68%;
    height: 100vh;
    background-color: #fff;
    transition: 1s;
    z-index: 2;
    height: 100vh;
  }

  .nav__content-toggle {
    display: inherit;
    z-index: 2;
  }

  .nav__content-active ul {
    gap: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    flex-direction: column;
    height: 100vh;
  }

  li a {
    color: #000;
  }

  .red-gradient {
    bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav_container {
    padding: 3rem 2rem;
  }
  .logo img {
    width: 180px;
  }
  .nav__content-toggle {
    font-size: 1.5rem;
  }
}



